<h2><%= link_to l(:label_ref_rules_plural), {:controller => 'ref_rules', :action => 'index', :repository_id => @repository } %></h2>

<%= labelled_form_for @ref_rule do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<p>
  <%= f.submit l(:button_submit) %>
</p>
<% end %>